<div class="conteiner">
  <div class="left-box">
      <div class="image-box">
        <img src="{{passaro.nome.linkImagem}}" class="rounded img-thumbnail" alt="foto do passaro">
      </div>
  </div>
  <div class="right-box">
      <div class="descricao-box">
              <p>Nome: {{passaro.nome.nome}}</p>
              <p>Nome em inglês: {{passaro.nome.nomeIngles}}</p>
              <p>Nome em latin: {{passaro.nome.nomeLatin}}</p>
              <p>Tamanho: {{passaro.nome.tamanho}}</p>
              <p>Gênero: {{passaro.nome.genero}}</p>
              <p>Cor predominante: {{passaro.nome.corPredominante}}</p>
              <p>Familia: {{passaro.nome.familia}}</p>
              <p>Habitat: {{passaro.nome.habitat}}</p>
      </div>
  </div>

</div>
