<div class="conteiner">
  <div class="left-box">
      <div class="image-box">
        <img src="{{passaro.linkImagem}}" class="rounded img-thumbnail" alt="foto do passaro">
      </div>
  </div>
  <div class="right-box">
      <div class="descricao-box">
              <p>Nome: {{passaro.nome}}</p>
              <p>Nome em inglês: {{passaro.nomeIngles}}</p>
              <p>Nome em latin: {{passaro.nomeLatin}}</p>
              <p>Tamanho: {{passaro.tamanho}}</p>
              <p>Gênero: {{passaro.genero}}</p>
              <p>Cor predominante: {{passaro.corPredominante}}</p>
              <p>Familia: {{passaro.familia}}</p>
              <p>Habitat: {{passaro.habitat}}</p>
      </div>
  </div>

</div>
