<app-navbar></app-navbar>
    <h1>Passe as informações do passaro que você quer cadastrar</h1>
    <input type="text" placeholder="url da imagem">
    <input type="text" placeholder="nome">
    <input type="text" placeholder="nome em Ingles">
    <input type="text" placeholder="nome em Latin">
    <input type="text" placeholder="tamanho">
    <input type="text" placeholder="genero">
    <input type="text" placeholder="cor predominante">
    <input type="text" placeholder="familia">
    <input type="text" placeholder="habiitat">
    <button>cadastrar</button>
    <button>cancelar</button>
<app-footer></app-footer>
