<div class="conteiner">
    <div class="left-box">
        <div class="div-instrucoes">
            <h5>
                <p>
                    Passe as informações do pássaro que você quer cadastrar, é importante
                    passar todas as informações, cuide para passar os dados corretamente, conforme
                    o que você pesquisou, no momento não recebemos imagens no nosso servidor, então
                    passe a url dela, considerando que você a salvou em algum sistema de nuvem,
                    como google drive ou mega.
                </p>
                <p>
                    Após isso, clique no botão "cadastrar" para inserir ele no nosso banco de dados.
                </p>
                <p>
                    Caso não queira mais cadastrar o passaro, é só clicar em "cancelar" e você volta
                    para a página principal.
                </p>
            </h5>
        </div>
    </div>
    <div class="right-box">
        <div class="cadastro-conteiner">
                <form  class="input-container" [formGroup]="formPassaro" (ngSubmit)="cadastrarPassaro()">
                    <input class="inputs" type="text" placeholder="link da imagem" formControlName="linkImagem">
                    <input class="inputs" type="text" placeholder="nome" formControlName="nome">
                    <input class="inputs" type="text" placeholder="nome em Inglês" formControlName="nomeIngles">
                    <input class="inputs" type="text" placeholder="nome em Latin" formControlName="nomeLatin">
                    <input class="inputs" type="text" placeholder="tamanho" formControlName="tamanho">
                    <input class="inputs" type="text" placeholder="gênero" formControlName="genero">
                    <input class="inputs" type="text" placeholder="cor predominante" formControlName="corPredominante">
                    <input class="inputs" type="text" placeholder="familia" formControlName="familia">
                    <input class="inputs" type="text" placeholder="habitat" formControlName="habitat">
                    <div class="button-container">
                        <input routerLink="../list" (click)="cadastroFeito()" type="submit" class="botoes-pesquisa botao-cadastrar" value="cadastrar">
                        <button class="botoes-pesquisa botao-cancelar" routerLink="/">cancelar</button>
                    </div>
                </form>
            
        </div>
    </div>

</div>