*{
    text-align: center;
}
.conteiner{
    width: 82vw;
    margin: 50px auto 50px;
    /* padding: 30px 0; */
}
.right-box,.left-box{
    display: inline-block;
    width: 40vw;
    border: 3px solid #558516;
    border-radius: 10px;    
}
.left-box{
    margin-right: 1vw;
    padding: 20px 15px;
}
.right-box{
    margin-left: 1vw;
    padding: 20px 0;
}

.cadastro-conteiner{
    margin: 0 auto;
    width: 80%;
}
.input-container{
    
}



.inputs{
    margin: 5px 15px;
    border: solid #558516;
    border-radius: 10px;

}

.button-container{
   margin-top: 20px;
}

.botoes-pesquisa{
    margin: 0 5px;
    font-weight: bold;
    border: solid #558516;
    border-radius: 10px;
    padding: 5px 25px;
    transition: 1s;
}

.botao-cadastrar:hover{
    border-color: rgb(0, 0, 145);
    background-color: blue;
}

.botao-cancelar:hover{
    border-color: rgb(168, 0, 0);
    background-color: red;
}