

#conteiner{
    margin: 30px 0;
    text-align: center;
}
.search-box{
    margin-top: 50px;
}
select{
    border-radius: 5px;
}
.input-group.mb-3{
    margin: 15px auto;
    width: 35vw;
}
button{
    padding: 5px 25;
    background-color: #558516;
    color: white;
    font-weight: bold;
    border-color: black;
    border-radius: 8px;
    animation: both;
    transition: 0.5s;
}
button:hover{
    background-color: #76BA1B;
    color: yellow;
    font-weight: bold;
}

.list-box{

    
    display: inline-block;
    margin: 50px auto 0 ;
    width: 35vw;
}

.list-group{
    width: 25%;
    margin: 0 auto;
    display: inline-block;
}


#lista_objeto_passaro{
    width: 75%;
}