
.conteiner-home{
    padding: 50px 0;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
}
.conteiner-home h2{
    margin-top: 30px;
}
.actions{
    margin-top: 30px;
}
.actions button{
    display: block;
    margin: 5px auto;
    color: white;
    background-color: var(--background);
    padding: 5px 25px;
    border-radius: 15px;
    

}