
<div class="main-collors fixed">
    <div class="nav-container"  src="">
        <img src="../../../assets/img/favicon.png" alt="">
        <h1 class="underline app-words site-name">Web-ornithology</h1>
    </div>
    <div class="div-botoes">
        <a href="../tela-postagem/tela-postagem.component.html">
            <button class="app-words botoes-pesquisa">insira um passaro</button>
        </a>
        <a href="../tela-passaro/tela-passaro.component.html">
            <button class="app-words botoes-pesquisa">procure um passaro</button>
        </a>
        <a href="https://gitlab.com/DRodrigues17/web-ornithology">
            <button class="app-words botoes-pesquisa">vá ao nosso repositorio</button>
        </a>
        
        
        
    </div>
</div>
