<div class="nav-conteiner">
    
<div class="nav-box main-collors">
    <a routerLink=""><div class="logo">
        <img src="../../../assets/img/favicon.png" alt="">
        <h1 class="underline app-words site-name">Web-ornithology</h1>
    </div></a>

    <div class="div-menu">

        <ul>
            <a routerLink="/post"><li>Cadastre um passaro</li></a>
            <a routerLink="/search"><li>Pesquise um passaro</li></a>
            <a href="https://gitlab.com/DRodrigues17/web-ornithology" target="_blank"><li>vá ao nosso repositorio</li></a>
        </ul>

    </div>
</div>

</div>
