<div class="nav-conteiner" id="navbar-conteiner">
    
    <div class="navbar-desktop main-collors">
    
        
            <div class="logo">
    
                <a routerLink="/">
    
                    <img src="../../../assets/img/favicon.png" alt="Logo Web ornithology">
                    <h1 class="underline app-words site-name">Web-ornithology</h1>
                </a>
            </div>
    
        <div class="div-menu">
    
    
            <ul>
                <a routerLink="/post"><li>Cadastre um passaro</li></a>
                <a routerLink="/search"><li>Pesquise um passaro</li></a>
                <a routerLink="/list"><li>Veja todos os passaros</li></a>
                <a href="https://gitlab.com/DRodrigues17/web-ornithology" target="_blank"><li>vá ao nosso repositorio</li></a>
            </ul>
    
        </div>
    
    
        
    </div>
    </div>

    