@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --amarelas: #F2EB67;
    --background: #76BA1B;
  }

.main-collors{

    color: var(--amarelas);
    background-color: var(--background);
    
}

 .app-words{
    width: 151px;
    height: 22px;
    font-family: 'Inria Serif';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
}

.botoes:hover{
    background-color: var(--background);
    color: var(--amarelas);
    font-weight: bold;
}
