<div id="end-page">
    <a target="_blank" href="https://gitlab.com/DRodrigues17/web-ornithology">Veja nosso repositorio</a>   
    <div class="gap">
       </div>
</div>

<footer>
<div class="footer-box">

    <div class="membro-box">
        <div class="membro">
            <a href="https://github.com/DRodrigues17" target="_blank">
                <img src="../../../assets/img/Vector 1.svg" alt="">
                <p class="">/DRodrigues17</p>
            </a>
        </div>
    
        <div class="membro">
            <a href="https://github.com/catureba" target="_blank">
                <img src="../../../assets/img/Vector 1.svg" alt="">
                <p class="">/Catureba</p>
            </a>
        </div>
    
        <div class="membro">
            <a href="https://github.com/Luh-Santos" target="_blank">
                <img src="../../../assets/img/Vector 1.svg" alt="">
                <p class="">/Luh-Santos</p>
            </a>
        </div>
    </div>
</div>
</footer>