
<div class="main-collors footer">
    <a target="_blank" href="https://github.com/DRodrigues17">
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name">/DRodrigues17</p>
    </a>

    
    <a target="_blank" href="https://github.com/Luh-Santos" >
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name">/Luh-Santos</p>
    </a>

    <a target="_blank" href="https://github.com/catureba">
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name">/Catureba</p>
    </a>
</div>
