
<div class="main-collors footer">
    <a href="https://github.com/DRodrigues17" target="_blank">
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name main-collors">/DRodrigues17</p>
    </a>

    
    <a href="https://github.com/Luh-Santos" target="_blank">
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name main-collors">/Luh-Santos</p>
    </a>

    <a href="https://github.com/catureba" target="_blank">
        <img src="../../../assets/img/Vector 1.svg" alt="">
        <p class="app-words member-name main-collors">/Catureba</p>
    </a>
</div>
